html {
    background: linear-gradient(to left, transparent, rgb(27, 42, 75) 120%),
      url("../images/homeMain.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      height: 100%;
      overflow: scroll;
  }
  